.wrapper-aside {
  width: 260px;
  height: 913px;
  position: sticky;
  margin-left: 0;
}
.grid-chaussures ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  list-style: none;
  padding: 0;
}
.chaussures {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 5rem;
  align-items: start;
}
@media (max-width: 680px) {
  .chaussures {
    grid-template-columns: 1fr;
  }
}
.grid-chaussures img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-content {
  background-color: white;
  border: 1px solid #fff;
}
.card-content .genre {
  color: #40aada;
  font-size: 10px;
}
.card-content h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.card-content .subtitle {
  font-family: "Barlow", sans-serif;
  font-size: 11px;
}
.card-content .produit-prix {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.panier {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #cecece;
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
p.nouveau {
  position: absolute;
  background-color: black;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  padding: 10px 10px;
  text-transform: uppercase;
  color: white;
  top: -4em;
  left: -0.1em;
}
.card {
  position: relative;
}
