.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.24em auto 2.5em;
}
.list-pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.item-pagination {
  text-align: center;
  min-width: 1.5625rem;
  margin-right: 0.65625rem;
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  background-color: #fff;
  color: #000;
  border: #000 1px solid;
  padding: 7px 7px;
}

.item-pagination:hover {
  background-color: #000;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  cursor: pointer;
}
